*{
	box-sizing:border-box;
	text-align:center;
}
body
{
  font-size:26pt;
  width:1140px;
  margin:0;
  padding:0;
}
a{
	text-decoration:none;
	
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
header{
	width:95%;
	margin:40px auto;
	background-image:url('../img/header-bg.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-radius:10px;
}
.header-area{
	padding:30px 10px;
	width:100%;
}
.header-area:after{
	content:'';
	display:block;
	clear:both;
}
.logo-area{
	width:20%;
	float:left;
}
.menu-area{
	width:80%;
	float:left;
}
.nav-bar{
	float:right;
}
.menu-area .nav-bar ul:after{
	content:"";
	display:block;
	clear:both;
}
.menu-area .nav-bar ul li{
	display:inline-block;
	position:relative;
}
.menu-area .nav-bar ul li a{
	display:block;
	padding:5px 10px;
	color:#fff;
}
.menu-area .nav-bar ul li ul{
	display:none;
	position:absolute;
}
.menu-area .nav-bar ul li:hover>ul{
	display:block;
}
.header-content{
	padding:200px;
	
}
.header-p{
	color:#8ab92d;
	font-size:26px;
	margin-bottom:0;
}
.header-h2{
	color:#fff;
	margin-top:0;
}
.header-a{
	display:inline-block;
	padding:15px 60px;
	background-color:#8ab92d;
	border-radius:60px;
	color:#fff;
}
.header-a:hover{
	background-color:#79a81c;
}
.skill{
	width:90%;
	margin:150px auto 50px auto;
}
.skill-header h2{
	margin-bottom:0;
	color:#222;
	font-size:1.7em;
}
.skill-header p{
	margin-top:5px;
	font-size:0.60em;
	color:#777;
}
.skill-nav{
	margin: 100px auto;
}
.skill-nav ul{
	width:80%;
	margin:auto;
	padding-bottom:50px;
}
.skill-nav ul li{
	display:inline-block;
	
}
.skill-nav ul li button{
	display:block;
	padding: 10px 18px;
	background-color:transparent;
	border:none;
	outline:none;
	font-size:1em;
}
.skill-container:after{
	content:"";
	display:block;
	clear:both;
}
.skill-container{
	width:100%;
	margin:0 auto;

}
.skill-img{
	width:100%;
	height:100%;
}
.skill-img img{
	width:100%;
	height:100%;
}
.skill-box{
	width:29.5%;
	float:left;
	margin-right:3.833333%;
	font-size:0.70em;
	margin-bottom:50px;
}
.skill-box h3{
	 margin-bottom:0;
}
.skill-box p{
	margin-top:0;
}
.skill-box:last-child{
	margin:0;
	
}
.job{
	width:95%;
	margin:100px auto;
}
.job-bg{
	background-image:url('../img/service-bg.jpg');
	background-repeat:no-repeat;
	background-position:100% 100%;
	width:100%;
	height:100%;
	border-radius:20px;
	
}
.job-header{
	background-color:rgba(0,0,0,0.7);
	padding-top:50px;
	padding-bottom:150px;
	border-radius:20px;
	
}
.job-header h2{
	margin-bottom:0;
	color:#fff;
}
.job-header p{
	margin-top:0;
	color:#777;
}
.job-over{
	width:75%;
	margin:-100px auto;
	border-radius:20px;
	font-size:0.70em;
}
.job-box{
	padding:30px;
	border-radius:20px;
	box-shadow:10px 0px 10px 0px rgba(138,185,45,0.2),
	-10px 0px 10px 0px rgba(138,185,45,0.2);
	background-color:#fff;
}
.job-box:last-child{
	box-shadow:10px 10px 10px 0px rgba(138,185,45,0.2),
	-10px 0px 10px 0px rgba(138,185,45,0.2);
}
.job-box h2{
	margin-bottom:0;
	color:#222;
	font-size:1.7em;
}
.job-box p{
	margin-top:5px;
	font-size:0.60em;
	color:#777;
}
.treat{
	width:95%;
	margin:100px auto;
}
.treat-header{
	width:80%;
	margin:300px auto 100px auto;
	
}
.treat-header h2{
	margin-bottom:0;
	color:#222;
	font-size:1.7em;
}
.treat-header p{
	margin-top:5px;
	font-size:0.60em;
	color:#777;
}

.treat-content{
	width:80%;
	margin:auto;
	
}
.treat-box{
	text-align:left;
	margin:50px;
}
.treat-box h2{
	text-align:left;
	margin-bottom:0;
	margin-top:0;
	color:#222;
	font-size:1.7em;
}
.treat-box p{
	text-align:left;
	margin-top:5px;
	font-size:0.60em;
	color:#777;
}
footer{
	background-color:#04091e;
	width:95%;
	margin:0 auto;
	color:#fff;
}
.footer{
	width:80%;
	margin:50px auto;
	padding:100px 0;
}
.footer:after{
	content:"";
	display:block;
	clear:both;
}
.about{
	width:50%;
	float:left;
}
.newslater{
	width:50%;
	overflow:hidden;
}
.about h2{
	text-align:left;
	font-size:1.7em;
}
.about p{
	text-align:left;
	font-size:0.60em;
}
.newslater h2{
	text-align:left;
	font-size:1.7em;
}
.newslater p{
	text-align:left;
	font-size:0.60em;
}
